<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AccessoryManagement</servlet-name>
        <servlet-class>controller.AccessoryManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillterAccessory</servlet-name>
        <servlet-class>controller.FillterAccessory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccessory</servlet-name>
        <servlet-class>controller.DeleteAccessory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccessory</servlet-name>
        <servlet-class>controller.AddAccessory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessroryMaketing</servlet-name>
        <servlet-class>controller.AccessroryMaketing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessoryManagement</servlet-name>
        <url-pattern>/Accessory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillterAccessory</servlet-name>
        <url-pattern>/Bandname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccessory</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccessory</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessroryMaketing</servlet-name>
        <url-pattern>/maketing</url-pattern>
    </servlet-mapping>
</web-app>
